<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }
  </style>
  <body>
    <div id="app">
      <!--navigation bar-->
      <ul>
        <li><a v-on:click="setShow('overview')">overview</a></li>
        <li><a v-on:click="setShow('add-card')">add card</a></li>
      </ul>

      <!--overview-->
      <table v-if="show === 'overview'">
        <tr>
          <th v-for="header in tableHeaders">{{ header }}</th>
        </tr>
        <tr v-for="card in cards">
          <td v-for="header in tableHeaders">
            {{ card[header] }}
          </td>
        </tr>
      </table>

      <!--add-card-->
      <div v-if="show === 'add-card'">
        <form action="http://127.0.0.1:5000/postcard" method="post">
          <br />
          Fill in the cardId:<br />
          <input type="text" name="cardId" /><br />
          Fill in the creationDate:<br />
          <input type="text" name="creationDate" /><br />
          Fill in the description:<br />
          <input type="text" name="description" /><br />
          Fill in the name:<br />
          <input type="text" name="name" /><br />
          Fill in the photoUrl:<br />
          <input type="text" name="photoUrl" /><br />
          <input type="submit" />
        </form>
      </div>

      <script src="app.js"></script>
    </div>
  </body>
</html>
