<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  </head>
  <style>
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
    }

    li {
      float: left;
    }

    li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }

    li a:hover {
      background-color: #111;
    }
  </style>
  <body>
    <div id="app">
      <!--navigation bar-->
      <ul>
        <li><a v-on:click="setShow('overview')">overview</a></li>
        <li><a v-on:click="setShow('add-card')">add card</a></li>
      </ul>

      <!--overview-->
      <table v-if="show === 'overview'">
        <tr>
          <th v-for="header in tableHeaders">{{ header }}</th>
        </tr>
        <tr v-for="card in cards">
          <td v-for="header in tableHeaders">
            {{ card[header] }}
          </td>
        </tr>
      </table>

      <!--add-card-->
      <div v-if="show === 'add-card'">
        <form v-on:submit="postPostcard()">
          <input v-model="form.cardId" type="text" placeholder="Fill in cardId" />
          <input v-model="form.creationDate" type="text" placeholder="Fill in creationDate" />
          <input v-model="form.description" type="text" placeholder="Fill in description" />
          <input v-model="form.name" type="text" placeholder="Fill in name" />
          <input v-model="form.photoUrl" type="text" placeholder="Fill in cardId" />
          <button>Submit</button>
        </form>
        <p v-if="!formComplete">Please fill in all fields before submitting.</p>
      </div>

      <script src="app.js"></script>
    </div>
  </body>
</html>
